.container {
    display: flex;
}

main {
    width: 100%;
    transition: transform 0.3s;
}

.sidebar {
    background: #1769aa;
    color: #ffffff;
    height: 100vh;
    width: 250px;
    border-radius: 0 20px 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
    z-index: 100;
}
.link_text {
    /* Initial opacity to hide the text */
    opacity: 0;

    /* Added transition for opacity animation */
    transition: all 0.5s ease;
}

.main-content {
    transition: margin-left 0.3s ease-in-out;
}

.sidebar.open {
    width: 250px;
    transform: translateX(0);
}

.main-content.open {
    margin-left: 250px; /* Adjust the value based on the sidebar width */
}

@media (max-width: 768px) {
    /* Adjust the media query breakpoint as needed */
    .sidebar.open {
        transform: translateX(200px); /* Adjust the value based on the sidebar width for smaller screens */
    }
}

.top_section {
    align-items: center;
}

.menuitems,
.menu {
    display: flex;
    font-size: 30px;
    padding: 20px 0px 10px 21px;
}

.link {
    display: flex;
    color: #fff;
    text-decoration: none;
    gap: 15px;
    padding: 10px 5px 10px 15px;
    font-size: 20px;
    transition: all 0.5s;
}

.link:hover {
    background-color: #b9bac946;
    color: #fff;
    transition: all 0.5s;
}

.active {
    background-color: #9fa1e446;
    color: #fff;
}

.icon,
.link_text {
    font-size: 25px;
    padding-left: 10px;
}

/* Overwritten Styles */

.sidebar {
    transition: all 0.5s; /* Added transition for smooth animation */
}

.main-content {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 70px; /* Resetting the margin-left for the main content */
}
