*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    display: flex;
}
main {
    width: 100%;
}

.sidebar {
    background: #1769aa;
    color: #ffffff;
    height: 100vh;
    width: 250px;
    transition: all 0.5s;
    border-radius: 0px 20px 20px 0px;
    -webkit-border-radius: 0px 20px 20px 0px;
    -moz-border-radius: 0px 20px 20px 0px;
    -ms-border-radius: 0px 20px 20px 0px;
    -o-border-radius: 0px 20px 20px 0px;
}

.top_section {
    align-items: center;
}

.menuitems ,
.menu {
    display: flex;
    font-size: 30px;
    padding: 20px 0px 10px 21px ;

}

.link {
    display: flex;
    color: #fff;
    padding: 10px 5px;
    gap: 15px;
    padding-left: 15px;
    font-size: 20px;
    transition: all 0.5s;
}

.link:hover {
    background-color: #b9bac946;
    color: #fff;
    transition: all 0.5s;

}

.active {
    background-color: #9fa1e446;
    color: #fff;

}

.icon,
.link_text {
    font-size: 25px;
    padding-left: 10px;
}



